<user-badge
  name="Luke"
  description="A developer"
  [badges]="['coder', 'javascript']"
  (buttonClicked)="logResults($event)"
></user-badge>

<user-badge-with-panel
  name="Mike"
  description="A developer"
  [badges]="['coder', 'typescript']"
  (buttonClicked)="logResults($event)"
></user-badge-with-panel>

<user-badge-with-the-kid
  name="Adrian"
  description="A cofounder"
  [badges]="['better-than-us-all']"
  (buttonClicked)="logResults($event)"
></user-badge-with-the-kid>

<user-badge-with-the-kid-and-panel
  name="Adrian"
  description="A cofounder"
  [badges]="['better-than-us-all']"
  (buttonClicked)="logResults($event)"
></user-badge-with-the-kid-and-panel>
